body{
    background-color: #FFFFFF;
}

.deactivate{
    display: none;
}
/* The purpose of the deactivate class is to hide / unhide elements when certain things are clicked...
   It is set up this way due to the fact that we don't have a back end, it's nice to have data consistency,
   as well as the appearance of 'different tabs'...
*/

.bi-app{
    justify-content: end;
    align-items: center;
    padding-left: 20px;
}
/*  bi-app gets added as a class to each selection icon in index.js. This class makes it appear to the right of the flag with some space currently...*/
.bi-app:hover{
    cursor: pointer;
}
/* ^^ This makes it so when you hover over the selection box on a pc it changes your cursor.*/
#save-button{
    position: sticky;
    bottom: 10%;
    left:80%;
}
/* ^^ This id is used only for the "saved cards" button in the bottom right.  */
.bingo-grid {
    padding-left:10px;
    padding-right:10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    text-align: center;
    height: 10.5in;
    }
    
.bingo-cell {
    border: 1.3px solid black;
    }
input[type='number']
{
    width:70px;
}

#save-button, #back-btn, #submit{
    background-color: #205999 !important;
}